@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import "components/vars.scss";
@import "components/global.scss";

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Roboto;
	font-weight: 400;
	width: 100%;
}

.app__main {
	width: 100%;
}

.app__main-top-stripe {
	height: 0.5rem;
	background-color: #ffffff;
}

#app-root {
	width: 100%;
}